<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<body>
<h1 th:text="${title}"></h1>


<form th:action="@{/generate}" method="post">
    <label for="newsTitle">뉴스 제목:</label>
    <input type="text" id="newsTitle" name="newsTitle"><br>

    <label for="newsContent">뉴스 내용:</label><br>
    <textarea id="newsContent" name="newsContent" rows="4" cols="50"></textarea><br>

    <button type="submit">뉴스 생성</button>
</form>
</body>
</html>
